@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

body{
	font-family: Avertastd,sans-serif;
	background: #fbfbfe;
	font-family: Arial, sans-serif !important;
}

.head-site{
	width: 64%;
	margin: 27px auto 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #fbfbfe;
}

.rigth-head{
	float: right !important;
	left: 70%;
	display: flex;
	margin-top: 20px;
}

.contact-us{
	width: 140px;
	height: 48px;
	padding: 5px 10px;
	background: #2b00d4;
	color: white;
	border: 0;
	outline: 0;
}

.contact-us a{
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.page-menu{
	height: 100vh;
	width: 50%;
	position: fixed;
	right: -100%;
	top: 0;
	transition: all .6s;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: #000b01;
	color: #fff;
	z-index: 10;
	padding-top: 200px;
	background-image: url("./images/5fff1c3bd19a56e49249ccca_Union (5).svg");
	background-repeat: no-repeat;
	background-position: 75% 0%;
}

.box{
	background: #fff;
	width: 50px;
	height: 45px;
	box-shadow: 2px 2px 4px gray;
	position: fixed;
	right: 250px;
	z-index: 11;
	display: flex;
	justify-content: center;
	align-items: center;
}

label[for="check-menu"]{
	width: 28px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 10px;
	position: relative;
	cursor: pointer;
}

.ligne{
	width: 100%;
	height: 3px;
	background:  #2b00d4;
	position: absolute;
	transition: all .5s ease-in-out;
}

.ligne:nth-child(1){
	top: 0px;
}

.ligne:nth-child(2){
	top: 12px;
}

.ligne:nth-child(3){
	top: 25px;
}

.check-menu.active .ligne:nth-child(1){
	top: 12px;
	transform: rotate(135deg);
}

.check-menu.active .ligne:nth-child(2){
	transform: translateX(-20px);
	opacity: 0;
}

.check-menu.active .ligne:nth-child(3){
	top: 12px;
	transform: rotate(-135deg);
}

#check-menu{
	display: none;
}

.logo-box{
	margin-top: 20px;
	width: 200px;
}

.logo{
	widows: 200px;
	height: auto;
}

.show-page-menu{
	right: 0;
}

.site-menu{
	width: 70%;
}

.site-menu ul li{
	display: inline-block;
	list-style: none;
	margin: 0 15px;
}

a{
	text-decoration: none;
}


.navigation ul li{
	margin-bottom: 30px;
	list-style: none;
}

.navigation ul li a{
	text-decoration: none;
	font-size: 30px;
	color: white;
}

.lest-talk{
	width: 100%;
	height: 60px;
	margin-top: 10px;
	background: white;
	color: black;
	border: 2px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;

}
.lest-talk span{
	font-size: 18px;
	font-weight: 700;
}

main{
	background: #fbfbfe;
	width: 100%;
}

.head-content{
	display: flex;
	width: 80%;
	height: 650px;
	float: right;
	margin-top: 40px;
}

.head-content .left{
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
}

.head-content > img{
	width: 75%;
}

.head-content .left strong{
	font-family: 'Otomanopee One', sans-serif;
	color: #0f0928;
	font-size: 58px;
	letter-spacing: 1px;
	line-height: 70px;
	font-weight: 500;
	width: 700px;
}

.head-content .left strong span{
	color: #2b00d4;
}

.video-box{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 70%;
	background: white;
	margin-bottom: 30px;
	box-shadow: 1px 2px 7px gray;
}

.pVideo{
	position: relative;
}

.pVideo > img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.view-showreel-box{
	width: 60%;
	display: flex;
	justify-content: center;
}

.view-showreel{
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}


.presentation-section{
	clear: right;
	width: 60%;
	margin: auto;
	padding-left: 40px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 1 solid gray;
}

.intro{
	border-left: 4px solid #2b00d4;;
	padding-left: 40px;
	position: absolute;
	left: 0;
	padding:0 auto;
	margin-top: 80px;
}

.intro p{
	font-size: 26px;
	line-height: 42px;
	color: #0f0928;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	max-width: 640px;
}

.fatured{
	margin-top: 320px;
	position: absolute;
	right: 0;
	font-family: 'Nunito', sans-serif;
	border-right: 4px solid #2b00d4;
	padding-right: 20px;
	font-weight: 800;
}

.article-container{
	margin-top: 300px;
}


.article-container article{
	width: 100%;
	height: 530px;
	margin-top: 140px;
	padding-left: 50px;
	overflow: hidden;
}

.article-container article a{
	display: flex;
	flex-direction: row;
	height: 100%;
}

.aLeft{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.aRigth{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.article-container article a .aLeft p{
	font-size: 20px;
	line-height: 34px;
	color: white;
	font-family: 'Nunito', sans-serif;
}

.btn-article{
	border-width: 0;
	outline: 0;
	padding: 10px 15px;
	margin: 0 5px;
	color: black;
	font-weight: 800;
}

.img-article2{
	position: relative;
	top: 160px;
	left: 73px;
	z-index: 2;
}

.img-article3{
	position: relative;
	top: 120px;
	right: 40px;
}

.img-article4{
	position: relative;
	top: 150px;
	width: 700px !important;
	height: auto;
}

.article1{
	background-image: url("./images/article1.png");
	background-repeat: no-repeat;
}

.article2{
	background-color: #F05637;
	background-repeat: no-repeat;
	overflow: hidden;
}

.article3{
	background-image: url("./images/article3.png");
	background-repeat: no-repeat;
}

.article4{
	background-image: url("./images/article4.png");
	background-repeat: no-repeat;
}

.article1 .btn-article{
	background: #774177;
	color: white;
}

.article2 .btn-article{
	background: #f1664b;
	color: white;
}

.article3 .btn-article{
	background: #472747;
	color: white;
}

.article4 .btn-article{
	background: #774177;
	color: white;
}

.article1 a .aLeft h1 img{
	width: 220px;
	height: auto;
}

.article2 a .aLeft h1 img{
	width: 270px;
	height: auto;
}

.article3 a .aLeft h1 img{
	width: 250px;
	height: 60px;
}

.article4 a .aLeft h1 img{
	width: 200px;
	height: auto;
}

article img{
	width: 600px;
	height: auto;
}

.contac-article-box{
	height: 350px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.contac-article-box button{
	margin-right: 17px;
}

.view-all a{
	width: 140px;
	height: 48px;
	display: flex;
	border: 1px solid gray;
}

.view{
	width: 70%;
	height: 100%;
	border-right: 1px solid gray;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-weight: 700;
}

.fleche{
	width: 30%;
	display: flex;
	justify-content: center !important;
	align-items: center;
}

/*--------------------------media-query------------------------------*/

@media screen and (max-width : 750px){
	.page-menu{
		width: 100%;
	}
}

.hiddenElement{
	display: none;
}

.hiddenVisibility{
	visibility: hidden;
}





/*---------------------------JS-class--------------------------------*/

.dark-boxMenu{
	background: black;
}

.white-line{
	background: white;
}