@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

body{
	font-family: Avertastd,sans-serif;
	background: #fbfbfe;
	font-family: Arial, sans-serif !important;
	overflow-x: hidden;
}

.head-site{
	width: 100%;
	margin: 27px auto 0 auto;
	/*background: #fbfbfe;*/
	background: red;
	position: relative;
}

.banner-menu{
	background: orange;
	display: flex;
	align-items: center;
}

.rigth-head{
	float: right !important;
	left: 70%;
	display: flex;
	margin-top: 20px;
}

.contact-us{
	width: 140px;
	height: 48px;
	padding: 5px 10px;
	background: #2b00d4;
	color: red;
	border: 0;
	outline: 0;
	position: absolute !important;
	right: 21% !important;
}

.box{
	background: #fff;
	width: 50px;
	height: 45px;
	box-shadow: 2px 2px 4px gray;
	position: fixed;
	right: 16%;
	z-index: 11;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-us a{
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.page-menu{
	height: 100vh;
	width: 50%;
	position: fixed;
	right: -100%;
	top: 0;
	transition: all .6s;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: #000b01;
	color: #fff;
	z-index: 10;
	padding-top: 200px;
	background-image: url("./images/5fff1c3bd19a56e49249ccca_Union (5).svg");
	background-repeat: no-repeat;
	background-position: 75% 0%;
}



label[for="check-menu"]{
	width: 28px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 10px;
	position: relative;
	cursor: pointer;
}

.ligne{
	width: 100%;
	height: 3px;
	background:  #2b00d4;
	position: absolute;
	transition: all .5s ease-in-out;
}

.ligne:nth-child(1){
	top: 0px;
}

.ligne:nth-child(2){
	top: 12px;
}

.ligne:nth-child(3){
	top: 25px;
}

.check-menu.active .ligne:nth-child(1){
	top: 12px;
	transform: rotate(135deg);
}

.check-menu.active .ligne:nth-child(2){
	transform: translateX(-20px);
	opacity: 0;
}

.check-menu.active .ligne:nth-child(3){
	top: 12px;
	transform: rotate(-135deg);
}

#check-menu{
	display: none;
}

.logo-box{
	width: 200px;
	position: relative;
	left: 20%;
}

.logo{
	widows: 200px;
	height: auto;
}

.show-page-menu{
	right: 0;
}

.site-menu{
	width: 70%;
}

.site-menu ul li{
	display: inline-block;
	list-style: none;
	margin: 0 15px;
}

a{
	text-decoration: none;
}


.navigation ul li{
	margin-bottom: 30px;
	list-style: none;
}

.navigation ul li a{
	text-decoration: none;
	font-size: 30px;
	color: white;
}

.lest-talk{
	width: 100%;
	height: 60px;
	margin-top: 10px;
	background: white;
	color: black;
	border: 2px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;

}
.lest-talk span{
	font-size: 18px;
	font-weight: 700;
}

main{
	background: #fbfbfe;
	width: 100%;
}

.head-content{
	display: flex;
	width: 80%;
	height: 650px;
	float: right;
	margin-top: 90px;
	background-image: url("./images/5f3e86ec1b7ab671f36ebd22_5d27a41e529b677f4874f349_Group 3.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.head-content .left{
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
}

.head-content > img{
	width: 75%;
}

.head-content .left strong{
	font-family: 'Otomanopee One', sans-serif;
	color: #0f0928;
	font-size: 58px;
	letter-spacing: 1px;
	line-height: 70px;
	font-weight: 500;
	width: 700px;
}

.head-content .left strong span{
	color: #2b00d4;
}

.video-box{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 70%;
	background: white;
	margin-bottom: 30px;
	box-shadow: 1px 2px 7px gray;
}

.pVideo{
	position: relative;
}

.pVideo > img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.view-showreel-box{
	width: 60%;
	display: flex;
	justify-content: center;
}

.view-showreel{
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}

.head-caroucel{
	height: 33px;
	overflow: hidden;
}

/* drapeau étoile feu monde gmap*/

.head-caroucel ul{
	animation: glisse 15s ease-in-out infinite;
}

.head-caroucel ul li{
	list-style: none;
	display: flex;
	align-items: center;
	padding: 5px 0;
	font-size: 15px;
    line-height: 15px;
    color: #0f0928;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: sans-serif;
}

.head-caroucel ul li img{
	height: 20px;
	width: auto;
	margin: 0 10px;
}

@keyframes glisse {
	0%, 12% {
		transform: translateY(0);
	}

	14.2% , 26% {
		transform: translateY(-30px);
	}

	28.5%, 40% {
		transform: translateY(-60px);
	}

	42.8%, 54% {
		transform: translateY(-90px);
	}

	57.1%, 69% {
		transform: translateY(-120px);
	}

	71.4%, 83% {
		transform: translateY(-150px);
	}

	86%, 100% {
		transform: translateY(-180px);
	}
}


.presentation-section{
	clear: right;
	width: 60%;
	margin: auto;
	padding-left: 40px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 1 solid gray;
}

.intro{
	border-left: 4px solid #2b00d4;;
	padding-left: 40px;
	position: absolute;
	left: 0;
	padding:0 auto;
	margin-top: 95px;
}

.intro p{
	font-size: 26px;
	line-height: 42px;
	color: #0f0928;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	max-width: 640px;
}

.fatured{
	margin-top: 430px;
	position: absolute;
	right: 0;
	font-family: 'Nunito', sans-serif;
	border-right: 4px solid #2b00d4;
	padding-right: 20px;
	font-weight: 800;
}

.article-container{
	margin-top: 390px;
}


.article-container article{
	width: 100%;
	height: 530px;
	margin-top: 140px;
	padding-left: 50px;
	/*overflow: hidden;*/
	transform: all 100s;
}

.article-container article a{
	display: flex;
	flex-direction: row;
	height: 100%;
}

.aLeft{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 50%;
}

.aRigth{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

article img{
	width: 100%;
	height: 70%;
	height: auto;
}

.article-container article a .aLeft p{
	font-size: 20px;
	line-height: 34px;
	color: white;
	font-family: 'Nunito', sans-serif;
}

.btn-article{
	border-width: 0;
	outline: 0;
	padding: 10px 15px;
	margin: 0 5px;
	color: black;
	font-weight: 800;
}

.img-article2{
	position: relative;
	top: 160px;
	left: 73px;
	z-index: 2;
}

.img-article3{
	position: relative;
	top: 120px;
	right: 40px;
}

.img-article4{
	position: relative;
	top: 150px;
	width: 100% !important;
	height: auto;
}

.article1{
	background-image: url("./images/article1.png");
	background-repeat: no-repeat;
}

.article2{
	background-color: #F05637;
	background-repeat: no-repeat;
	overflow: hidden;
}

.article3{
	background-image: url("./images/article3.png");
	background-repeat: no-repeat;
}

.article4{
	background-image: url("./images/article4.png");
	background-repeat: no-repeat;
}

.article1 .btn-article{
	background: #774177;
	color: white;
}

.article2 .btn-article{
	background: #f1664b;
	color: white;
}

.article3 .btn-article{
	background: #472747;
	color: white;
}

.article4 .btn-article{
	background: #774177;
	color: white;
}

.article1 a .aLeft h1 img{
	width: 220px;
	height: auto;
}

.article2 a .aLeft h1 img{
	width: 270px;
	height: auto;
}

.article3 a .aLeft h1 img{
	width: 250px;
	height: 60px;
}

.article4 a .aLeft h1 img{
	width: 200px;
	height: auto;
}



.contac-article-box{
	height: 350px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.contac-article-box button{
	margin-right: 17px;
}


.view-all a{
	width: 140px;
	height: 48px;
	display: flex;
	border: 2px solid rgba(102,95,130,.1) !important;
}

.view{
	width: 70%;
	height: 100%;
	border-right: 2px solid rgba(102,95,130,.1) !important;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-weight: 700;
}

.fleche{
	width: 30%;
	display: flex;
	justify-content: center !important;
	align-items: center;
}

.separator-line{
	width: 62%;
	height: 2px;
	background-color: rgba(102,95,130,.1);
	margin: 0 auto;
}

.clients-section{
	width: 65%;
	height: 900px;
	margin: 180px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.images-box{
	width: 90%;
	display: flex;
	margin: 0 auto 0 auto;
}

/*.images-box div img{
	width: 170px;
	height: 45px;
}*/

.small-logo img{
	width: 33.3%;
}

.small-logo{
	padding: 12px 40px;
}

.small-logo:nth-child(2){
	border-left: 2px solid rgba(102,95,130,.1);
	border-right: 2px solid rgba(102,95,130,.1);
}

.small-logo:nth-child(3){
	border-right: 2px solid rgba(102,95,130,.1);
}

.smile-box{
	min-width: 200px;
	width: 60%;
	margin: 0 auto;
	height: 260px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.clients-section{
}

.clients-section .trusted{
	font-family: 'Otomanopee One', sans-serif;
    color: #0f0928;
    font-size: 58px;
    letter-spacing: 1px;
    line-height: 70px;
    font-weight: 500;
    width: 700px;
    border-left: 5px solid #2b00d4;
	padding-left: 30px;
}

.clients-section .trusted span{
	color: #2b00d4;
}

.notTo-box{
	padding-left: 30px;
	border-left: 5px solid #2b00d4;
}
.notTo{
	font-size: 26px;
    line-height: 42px;
    color: #0f0928;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    max-width: 640px;
}

.why-orizon{
	width: 100%;
	height: 1500px;
	background-color: #120427;
	color: white !important;
	background-image: url("./images/5fff1c3bd19a56e49249ccca_Union (5).svg");
	background-repeat: no-repeat;
	background-position: 96% 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.why-orizon > div{
	height: 1300px;
	width: 68%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.img-workers-box{
	width: 90%;
	height: 450px;
	margin: 20px auto;
	overflow: hidden;
}

.img-workers-box img{
	width: 100%;
}

.why-orizon h3{
	font-family: 'Otomanopee One', sans-serif;
    color: white;
    font-size: 58px;
    letter-spacing: 1px;
    line-height: 70px;
    font-weight: 500;
    width: 700px;
}

.deuxieme{
	color: #594b6f;
}

.slider-box{
	height: 350px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.slider-box div{
	display: flex;
}

.slider-box div h3{
	font-size: 32px;
	line-height: 37px;
	font-weight: 700px;
	font-family: 'Otomanopee One', sans-serif;
	padding-left: 40px;
}

.slider-box p{
	   font-size: 26px;
    line-height: 42px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    max-width: 640px;
    position: relative;
    top: 63px;
    font-weight: 600;
}

.app{  
	width: 110px !important;
	height: auto !important;
}

.reviews{
	width: 65%;
	margin: 150px auto 0 auto;
}

.reviews h3{
		font-family: 'Otomanopee One', sans-serif;
	  color: #0f0928;
    font-size: 58px;
    letter-spacing: 1px;
    line-height: 70px;
    font-weight: 500;
    width: 700px;
}

.reviews h3 span{
	display: block;
	color: #2b00d4;
}

.reviews .top-box{
	margin-top: 90px;
}

.top-boxv{
	margin-top: 100px;
}

.top-boxv .person-view{
	width: 100%;
	height: 480px;
	display: flex;
	justify-content: space-between;
}

.img-box{
	width: 370px !important;
	height: 100% !important;
}

.reviews img{
	width: 100px;
	height: 100px;
}

[src *= "./images/quotation-marks.png"]{
	width: 36px !important;
	height: auto !important;
}

[alt *= "person"]{
	width: 100% !important;
	height: 100% !important;
}


.details{
	padding-top: 35px;
	width: calc(100% - 495px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.details > p{
	    font-size: 26px;
    line-height: 42px;
    color: #0f0928;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    max-width: 640px;
}

.person-desc{
		font-size: 18px;
    line-height: 20px;
    color: #0f0928;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    max-width: 640px;
}

.bottom-boxv{
	width: 70%;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin: 200px auto 0 auto;
	background-image: url("./images/5ff4e69be642499100301f07_Union.svg");
	background-repeat: no-repeat;
	background-position: top;
}


.bgc p{
	width: 85%;
	margin: 80px auto 0 auto;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.bgc p span:first-child{
	  margin-bottom: 0;
    color: #0f0928;
    font-size: 36px;
    line-height: 48px;
    font-weight: 900;
    display: block;
}

.bgc p span:last-child{
	  color: #2b00d4;
    font-size: 68px;
    line-height: 78px;
    font-weight: 900;
}

.bottom-boxv p{
		text-align: center;
    color: #0f0928;
    font-size: 26px;
    line-height: 42px;
    font-weight: 400;
}

footer{
	width: 70%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	margin: 170px auto 100px auto;
  font-family: 'Nunito', sans-serif;


}

footer > div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


footer li{
	list-style: none;
	display: inline-block;
	margin: 0 17px;
}

.droit{
	margin-right: 25px;
}

footer li:first-child{
	margin-left: 0;
}

/*.slick-track{
	width: 100% !important;
}
*/
/*--------------------------media-query------------------------------*/

@media screen and (max-width: 1364px){

	.head-content{
		width: 100%;
		padding-left: 8%;
	}

	.presentation-section{
		width: 90%;
		padding-left: 0;
	}

	.reviews{
		width: 90%;
	}

	.article-container{
		margin-left: auto;
		margin-right: auto;
	}

	.aRigth{
		width: 60%;
	}

	.aLeft{
		width: 40%;
	}

	.clients-section{
		width: 90%;
	}


/*	article img{
		display: none;
	}*/
}

@media screen and (max-width: 1180px){
	.head-content .left strong {
		width: 500px;
		font-size: 45px;
	}

	.clients-section .trusted, .reviews h3{
		font-size: 45px;
	}

	.slider-box div h3{
		font-size: 20px;
		line-height: 22px;
		padding-left: 8px;
	}

	.app{
		width: 50px !important; 
	}

	.slider-box p{
		font-size: 17px;
		line-height: 25px;
	}

	.person-view .slick-slide .slick-current .slick-active{
		display: block;
	}

	.slick-track{
		overflow: hidden;
	}

	footer{
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
}

@media screen and (max-width : 1000px){
	.head-content{
		height: 900px;
		flex-direction: column-reverse;
	}



	.contact-us{
		display: none;
	}

	.box{
		right: 10%;
	}

	.logo-box{
		left: 10%;
	}

	footer{
		flex-direction: column;
		justify-content: center;

	}

	footer .right, footer .left{
		margin: 80px auto 0 auto;
	}
}

@media screen and (max-width : 750px){
	.page-menu{
		width: 100%;
	}

	.article-container article {
		overflow: visible;
		height: auto;
		padding: 15px;
		padding-bottom: 0px;
	}
	.article-container article a{
		display: block;
	}

	.aLeft{
		width: 100%;
		margin-bottom: 35px;
	}

	.aRigth{
		width: 100%;
		display: flex;
		justify-content: center;
		background: transparent;
	}

	.aRigth > img{
		max-height: 350px;
		max-width: auto;
	}
/*
	.btn-article{
		display: none;
	}*/

	.img-article1, .img-article2, .img-article3, .img-article4{
		position: initial;
	}

	.presentation-section, .article-container{
		width: 100%;
		padding: 0 20px;
	}

	.head-content{
		margin-top: 10px;
	}
}

.hiddenElement{
	display: none;
}

.hiddenVisibility{
	visibility: hidden;
}





/*---------------------------JS-class--------------------------------*/

.cursor{
	width: 8px;
	height: 8px;
	border: 2px solid #2b00d4;;
	background-color: #2b00d4;;
	position: absolute;
	z-index: 100;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all .2s ease;
}

.dark-boxMenu{
	background: black;
}

.white-line{
	background: white;
}

.revel-bottom{
	opacity: 0;
	transform: translateY(50px);
}

.revel-top{
	opacity: 0;
	transform: translateY(-50px);
}

.revel-right{
	opacity: 0;
	transform: translateX(50px);
}

.revel-visible{
	opacity: 1;
	transform: translateY(0);
	transition: .8s;
}


.slider {
  width: 80%;
  margin: 0 auto;
}

.img-div {
  width: 300px;
  height: 300px;
  margin: 0 15px;
}

.div1 {
  background: url(https://source.unsplash.com/600x700) center no-repeat;
  background-size: cover;
}

.div2 {
  background: url(https://source.unsplash.com/500x600) center no-repeat;
  background-size: cover;
}

.div3 {
  background: url(https://source.unsplash.com/1200x900) center no-repeat;
  background-size: cover;
}

.div4 {
  background: url(https://source.unsplash.com/400x800) center no-repeat;
  background-size: cover;
}